<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /
  
  # Jika file atau direktori ada, gunakan langsung
  RewriteCond %{REQUEST_FILENAME} -f [OR]
  RewriteCond %{REQUEST_FILENAME} -d
  RewriteRule ^ - [L]

  # Jika tidak ada, arahkan ke index.html halaman tersebut atau root
  RewriteRule ^admin/pengguna/detail/(.*)$ admin/pengguna/detail/index.html [L]
  
  # Umum untuk semua halaman statis
  RewriteCond %{REQUEST_FILENAME}.html -f
  RewriteRule ^ %{REQUEST_FILENAME}.html [L]
</IfModule>